body {
    margin: 0;
    background-color: #D5EDFA;
    min-width: 300px;
}


.navigation {
    width: 100%;
    height: 70px;
    background-color: #F2F2F2;
    position: fixed;

}

.buttonContainer {
    visibility: hidden;
}

.splash {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.logo {
    width: 400px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 40vh;
    left: 35vw;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #052951;
}

.box1 {
    width: 90%;
    height: 100%;
}

.tekstBox1 {
    width: 90%;
    height: 300px;
    margin: -134px auto;
    padding: 2em 1em 2em 1em;

}

.box2 {
    margin-top: -20px;
    width: 90%;
    margin: -90px auto;
    height: 100%;
}

.tekstBox2 {
    width: 90%;
    height: 300px;
    margin: 62px auto;
    padding: 2em 1em 2em 1em;
}

.box3 {
    width: 80%;
    height: 30vh;
    border-style: dashed;
}

.tekstBox3 {
    width: 80%;
    height: 15vh;
    border-style: dashed;
}

.navLogo {
    width: 150px;
    position: relative;
    top: 14px;
    left: 17px;
    z-index: 3;
}

.middleLogo {
    width: 90vw;

}

/**** BURGERMENU START ****/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #052951;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #00B9EA;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

span {
    margin-left: 90%;
    position: relative;
    top: -32px;
}


/**** BURGERMENU SLUT ****/

/**** YOUTUBEVIDEOER START ****/

.box1 iframe {

    width: 100%;
    height: 300px;
    margin: 64px auto;
    padding: 2em 1em 2em 1em;
    border: none;
}

.box2 iframe {
    width: 100%;
    height: 300px;
    margin: -35px auto;
    padding: 2em 1em 2em 0em;
    border: none;
}


/**** YOUTUBEVIDEOER START ****/

/**** TABLET MODE START ****/

@media screen and (min-width:768px) {

    span {

        visibility: hidden;
    }

    .buttonContainer {
        visibility: visible;
        margin: 0 auto;
        margin-top: -78px;
        text-align: right;

    }

    .buttonContainer a {
        background-color: #F2F2F2;
        border: none;
        color: #052951;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        position: relative;
        z-index: 2;
        top: 5px;
        margin: 0 auto;
        cursor: pointer;
    }

    .buttonContainer a:hover {
        color: #00B9EA;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .tekstBox1 {
        width: 90%;
        height: 300px;
        margin: 140px auto;
        padding: 2em 1em 2em 1em;

    }

}

/**** TABLET MODE STOP ****/

/**** DESKTOP MODE START ****/

@media screen and (min-width:1024px) {

    span {

        visibility: hidden;
    }

    .buttonContainer {
        visibility: visible;
        margin: 0 auto;
        margin-right: 0;
        margin-top: -87px;
    }

    .navigation {
        position: fixed;
        display: flex;
        flex-wrap: wrap;

    }

    nav a {
        background-color: #8a7f7f;
        border: none;
        color: #052951;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        cursor: pointer;
    }


    .buttonContainer a {
        background-color: #F2F2F2;
        border: none;
        color: #052951;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        position: relative;
        z-index: 2;
        top: 5px;
        margin: 0 auto;
        cursor: pointer;
    }

    .buttonContainer a:hover {
        color: #00B9EA;
    }

    .sliderContainer {

        border-style: dashed;
        width: 400px;
        padding-top: 150px;
    }
}

/**** DESKTOP MODE SLUT ****/
