body {
    margin: 0;
    background-color: #D5EDFA;
    min-width: 300px;
}


.navigation {
    width: 100%;
    height: 70px;
    background-color: #F2F2F2;
    position: fixed;

}

.buttonContainer {
    visibility: hidden;
}

.splash {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.logo {
    width: 400px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 40vh;
    left: 35vw;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #052951;

}

.box1 {
    width: 90%;
    height: 100%;
}

.tekstBox1 {
    width: 90%;
    height: 300px;
    margin: -134px auto;
    padding: 2em 1em 2em 1em;

}

.box2 {
    margin-top: -20px;
    width: 90%;
    margin: -90px auto;
    height: 100%;
}

.tekstBox2 {
    width: 90%;
    height: 300px;
    margin: 62px auto;
    padding: 2em 1em 2em 1em;
}

.box3 {
    width: 80%;
    height: 30vh;

}

.tekstBox3 {
    width: 80%;
    height: 15vh;
}

.navLogo {
    width: 150px;
    position: relative;
    top: 14px;
    left: 17px;
    z-index: 3;
}

.middleLogo {
    width: 90vw;

}

/**** BURGERMENU START ****/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #052951;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #00B9EA;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

span {
    margin-left: 90%;
    position: relative;
    top: -32px;
}

.sliderContainer {

    width: 400px;
    padding-top: 100px;
    margin-left: 50px;
}

.value {
    color: red;
    position: relative;
    left: -351px;
    top: 3px;
    font-size: 1.5em;
    z-index: -1;
}

.pris {
    color: red;
    position: relative;
    left: -351px;
    top: 3px;
    font-size: 1.5em;
    z-index: -1;
}

.alder {
    color: red;
    position: relative;
    left: -351px;
    top: 3px;
    font-size: 1.5em;
    z-index: -1;
}


/**** BURGERMENU SLUT ****/

/**** YOUTUBEVIDEOER START ****/

.box1 iframe {

    width: 100%;
    height: 300px;
    margin: 64px auto;
    padding: 2em 1em 2em 1em;
    border: none;
}

.box2 iframe {
    width: 100%;
    height: 300px;
    margin: -35px auto;
    padding: 2em 1em 2em 0em;
    border: none;
}


/**** YOUTUBEVIDEOER SLUT ****/

/**** OFFLINE REKLAMER START ****/

.box1Oflline {

    /*    margin-top: 100px;*/
    width: 100%;
    margin: auto auto 0 auto;
    height: 100%;
    padding-top: 100px;
}

.box2Oflline {

    width: 50%;
    margin: 0px auto 0 auto;
    height: 50%;

}

.box1 img {

    width: 100%;
    height: 300px;
    margin: 64px auto;
    padding: 2em 1em 2em 1em;
    border: none;
}

.box2 img {

    width: 100%;
    height: 300px;
    margin: 64px auto;
    padding: 2em 1em 2em 1em;
    border: none;
}

.tekstBox1Offline {

    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px;
}




/**** OFFLINE REKLAMER SLUT ****/

/**** INFOGRAFIK  START ****/

.vidsteDu {

    width: 90%;
    margin-top: 100px;
}

details summary::-webkit-details-marker {
    display: none;
}

summary h3 {
    cursor: pointer;
}

.infoCola {

    width: 5%;
    margin-left: 100px;
}

.infoGum {
    width: 20%;
    margin-left: 100px;
    padding-top: 20px;
}

.infoIs {
    width: 8%;
    margin-left: 100px;
    padding-top: 20px;
}

.infoPolse {
    width: 8%;
    margin-left: 100px;
}

.vidsteDu h4 {

    position: relative;
    top: 130px;
    font-size: 2em;
    z-index: -1;
}

/**** INFOGRAFIK  SLUT ****/

/**** TABLET MODE START ****/

@media screen and (min-width:768px) {

    .sideMenu {

        visibility: hidden;
    }

    .buttonContainer {
        visibility: visible;
        margin: 0 auto;
        margin-top: -78px;
        text-align: right;

    }

    .buttonContainer a {
        background-color: #F2F2F2;
        border: none;
        color: #052951;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        position: relative;
        z-index: 2;
        top: 5px;
        margin: 0 auto;
        cursor: pointer;
    }

    .buttonContainer a:hover {
        color: #00B9EA;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .tekstBox1 {
        width: 90%;
        height: 300px;
        margin: 140px auto;
        padding: 2em 1em 2em 1em;

    }

    .sliderContainer {

        width: 400px;
        padding-top: 100px;
        margin-left: 200px;
    }

    .value {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }

    .pris {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }

    .alder {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }



    /**** OFFLINE REKLAMER START ****/
    .box1Oflline {

        margin-top: 100px;
        width: 130%;
        margin: -30px auto 0 auto;
        height: 100%;
    }

    .box2Oflline {

        width: 50%;
        margin: 90px auto 0 auto;
        height: 50%;

    }

    .box1 img {

        width: 100%;
        height: 300px;
        margin: 64px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }

    .box2 img {

        width: 100%;
        height: 300px;
        margin: 64px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }

    .tekstBox1Offline {

        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-left: 50%;

    }




    /**** OFFLINE REKLAMER SLUT ****/
    /**** YOUTUBEVIDEOER TABLET START ****/
    .box1 iframe {

        width: 100%;
        height: 400px;
        margin: 64px auto;
        padding: 2em 1em 2em 3em;
        border: none;
    }

    .box2 iframe {
        width: 100%;
        height: 400px;
        margin: -35px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }


    /**** YOUTUBEVIDEOER TABLET SLUT ****/
    .tekstBox1 {

        position: relative;
        top: 400px;
        right: 50%;
        z-index: -5;
    }

    .box2 {

        position: relative;
        top: -465px;
        left: 50%;
        z-index: -5;

    }

    .tekstBox2 {

        position: relative;
        top: -176px;
        z-index: -5;
    }


}





/**** TABLET MODE STOP ****/

/**** LAPTOP MODE START ****/

@media screen and (min-width:1024px) {

    .sideMenu {

        visibility: hidden;
    }

    .buttonContainer {
        visibility: visible;
        margin: 0 auto;
        margin-right: 0;
        margin-top: -87px;
    }

    .navigation {
        position: fixed;
        display: flex;
        flex-wrap: wrap;

    }

    nav a {
        background-color: #8a7f7f;
        border: none;
        color: #052951;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        cursor: pointer;
    }


    .buttonContainer a {
        background-color: #F2F2F2;
        border: none;
        color: #052951;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        position: relative;
        z-index: 2;
        top: 5px;
        margin: 0 auto;
        cursor: pointer;
    }

    .buttonContainer a:hover {
        color: #00B9EA;
    }


    .sliderContainer {

        width: 400px;
        padding-top: 100px;
        margin-left: 200px;
    }

    .value {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }

    .pris {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }

    .alder {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }


    /**** OFFLINE REKLAMER START ****/
    .box1Oflline {

        margin-top: 100px;
        width: 130%;
        margin: -30px auto 0 auto;
        height: 100%;
    }

    .box2Oflline {

        width: 50%;
        margin: 90px auto 0 auto;
        height: 50%;

    }

    .box1 img {

        width: 100%;
        height: 300px;
        margin: 64px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }

    .box2 img {

        width: 100%;
        height: 300px;
        margin: 64px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }

    .tekstBox1Offline {

        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-left: 50%;

    }




    /**** OFFLINE REKLAMER SLUT ****/
    /**** YOUTUBEVIDEOER TABLET START ****/
    .box1 iframe {

        width: 100%;
        height: 400px;
        margin: 64px auto;
        padding: 2em 1em 2em 4em;
        border: none;
    }

    .box2 iframe {
        width: 100%;
        height: 400px;
        margin: -35px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }


    /**** YOUTUBEVIDEOER TABLET SLUT ****/
}

/**** LAPTOP MODE SLUT ****/

@media screen and (min-width:1786px) {

    .buttonContainer {
        visibility: visible;
        margin: 0 auto;
        margin-right: 0;
        margin-top: -58px;
    }


}

/**** DESKTOP MODE START ****/
