/*---------- FONTS START ----------*/

a {
    font-family: "Georgia, serif";
}

p {
    font-family: "Georgia, serif";
    font-size: 1.4em;
}





/*---------- FONTS SLUT ----------*/

/*---------- FOOTER START ----------*/

/*
#forside footer {
    position: absolute;
    bottom: 0;
}
*/

.logoer {

    margin-left: 25vw;
}


.facebook {
    padding: 4px;
    padding-right: 20px;
    cursor: pointer;
    width: 10%;
}

.instagram {

    padding: 0 10px;
    cursor: pointer;
    width: 10%;
}

.youtube {
    padding-left: 20px;
    cursor: pointer;
    width: 10%;
}

.copyright p {
    width: 50;
    padding: 2px;
    text-align: center;
    color: white;
    font-size: 0.8em;
}

/*---------- FOTTER SLUT ----------*/

body {
    margin: 0;
    background-color: #D5EDFA;
    min-width: 300px;
}


.navigation {
    width: 100%;
    height: 70px;
    background-color: #F2F2F2;
    position: fixed;
    z-index: 1;

}

.buttonContainer {
    visibility: hidden;
}

.splash {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


.footer {
    width: 100%;
    height: 120px;
    background-color: #052951;

}

.box1 {
    width: 90%;
    height: 100%;
}

.tekstBox1 {
    width: 90%;
    height: 300px;
    margin: -134px auto;
    padding: 2em 1em 2em 1em;

}

.box2 {
    margin-top: -20px;
    width: 90%;
    margin: -90px auto;
    height: 100%;
}

.tekstBox2 {
    width: 90%;
    height: 300px;
    margin: 62px auto;
    padding: 2em 1em 2em 1em;
}

.box3 {
    width: 90%;
    height: 100%;

}

.box4 {
    width: 90%;
    height: 100%;

}


.tekstBox3 {
    width: 80%;
    height: 15vh;
}

.navLogo {
    width: 150px;
    position: relative;
    top: 14px;
    left: 17px;
    z-index: 200;
}

.middleLogo {
    width: 90vw;

}

/*---------- FORSIDE START ----------*/

.logo {

    position: absolute;
    width: 40%;
    z-index: -1;
    top: 178px;
    left: 30%;


}


#scene {
    width: 100vw;
    min-height: 84vh;

    /* 9/16*100*/
    position: relative;
    overflow: hidden;
    z-index: -1;
}

#Solskin {
    position: absolute;
    background-image: url(img/Sol-01.svg);
    width: 40%;
    height: 40%;
    top: 71px;
    right: -1%;
    background-repeat: no-repeat;

    animation-name: sol_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes sol_kf {


    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}


#skyer {
    width: 87.1vw;
    height: 5.8vw;
    top: 105px;
    animation-fill-mode: forwards;
    background-image: url(img/Skyer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;


    animation-name: skyer_kf1;
    animation-duration: 100s;

    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes skyer_kf1 {

    0% {
        transform: translateX(20vw);
    }

    100% {
        transform: translatex(100vw);
    }


}

#skyer2 {
    z-index: 1;
    width: 87.1vw;
    height: 5.8vw;
    top: 300px;
    animation-fill-mode: forwards;
    background-image: url(img/Skyer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    position: absolute;
    /*    left: -100vw;*/
    animation-name: skyer_kf2;
    animation-duration: 100s;

    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes skyer_kf2 {

    0% {
        transform: translateX(5vw)
    }

    100% {
        transform: translatex(100vw);
    }


}


#skyer3 {
    z-index: 1;
    width: 87.1vw;
    height: 5.8vw;
    top: 400px;
    animation-fill-mode: forwards;
    background-image: url(img/Skyer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    position: absolute;
    /*    left: -100vw;*/
    animation-name: skyer_kf3;
    animation-duration: 90s;

    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes skyer_kf3 {

    0% {
        transform: translateX(10vw)
    }

    100% {
        transform: translatex(100vw);
    }


}

#skyer4 {
    z-index: 1;
    width: 87.1vw;
    height: 5.8vw;
    top: 300px;
    animation-fill-mode: forwards;
    background-image: url(img/Skyer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    position: absolute;
    /*    left: -100vw;*/
    animation-name: skyer_kf4;
    animation-duration: 90s;

    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes skyer_kf4 {

    0% {
        transform: translateX(-150vw)
    }

    100% {
        transform: translatex(100vw);
    }


}

#skyer5 {
    z-index: 1;
    width: 87.1vw;
    height: 5.8vw;
    top: 110px;
    animation-fill-mode: forwards;
    background-image: url(img/Skyer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    position: absolute;
    /*    left: -100vw;*/
    animation-name: skyer_kf5;
    animation-duration: 90s;

    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes skyer_kf5 {

    0% {
        transform: translateX(-150vw)
    }

    100% {
        transform: translatex(100vw);
    }


}

#skyer6 {
    z-index: 1;
    width: 87.1vw;
    height: 5.8vw;
    top: 110px;
    left: -100vw;
    animation-fill-mode: forwards;
    background-image: url(img/Skyer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    /*    left: -100vw;*/
    animation-name: skyer_kf6;
    animation-duration: 100s;

    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes skyer_kf6 {

    0% {
        transform: translateX(-200vw)
    }

    100% {
        transform: translatex(100vw);
    }


}



/*---------- FORSIDE SLUT----------*/

/**** BURGERMENU START ****/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #052951;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #00B9EA;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

span {
    margin-left: 90%;
    position: relative;
    top: -32px;
}

.sliderContainer {

    width: 400px;
    padding-top: 100px;
    margin-left: 50px;
}

.value {
    color: red;
    position: relative;
    left: -351px;
    top: 3px;
    font-size: 1.5em;
    z-index: -1;
}

.pris {
    color: red;
    position: relative;
    left: -351px;
    top: 3px;
    font-size: 1.5em;
    z-index: -1;
}

.alder {
    color: red;
    position: relative;
    left: -351px;
    top: 3px;
    font-size: 1.5em;
    z-index: -1;
}


/**** BURGERMENU SLUT ****/

/**** YOUTUBEVIDEOER START ****/

.box1 iframe {

    width: 100%;
    height: 300px;
    margin: 64px auto;
    padding: 2em 1em 2em 1em;
    border: none;
}

.box2 iframe {
    width: 100%;
    height: 300px;
    margin: -35px auto;
    padding: 2em 1em 2em 0em;
    border: none;
    margin-top: 50px;
}

.box3 iframe {

    width: 100%;
    height: 300px;
    padding: 8em 1em 2em 1.1em;
    border: none;

}

.box4 iframe {

    width: 100%;
    height: 300px;
    padding: 2em 1em 2em 1.1em;
    border: none;

}

/**** YOUTUBEVIDEOER SLUT ****/

/**** OFFLINE REKLAMER START ****/

.box1Oflline {

    /*    margin-top: 100px;*/
    width: 100%;
    margin: auto auto 0 auto;
    height: 100%;
    padding-top: 68px;

}

.box2Oflline {

    width: 50%;
    margin: 0px auto 0 auto;
    height: 50%;

}

.box1 img {

    width: 100%;
    height: 300px;
    margin: 64px auto;
    padding: 2em 1em 2em 1em;
    border: none;
}

.box2 img {

    width: 100%;
    height: 300px;
    margin: 64px auto;
    padding: 2em 1em 2em 1em;
    border: none;
}

.tekstBox1Offline {

    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px;
}




/**** OFFLINE REKLAMER SLUT ****/

/**** INFOGRAFIK  START ****/

.vidsteDu {

    width: 90%;
    margin-top: 100px;
}

.vidsteDu summary:hover {
    font-size: 110%;
}

details summary::-webkit-details-marker {
    display: none;
}

summary h3 {
    cursor: pointer;
}

.infoCola {

    width: 5%;
    margin-left: 100px;
}

.infoGum {
    width: 20%;
    margin-left: 100px;
    padding-top: 0px;
}

.infoIs {
    width: 8%;
    margin-left: 100px;
    padding-top: 0px;
}

.infoPolse {
    width: 8%;
    margin-left: 100px;
    padding-bottom: 100px;
}

.vidsteDu h4 {

    position: relative;
    top: 100px;
    font-size: 2em;
    z-index: -1;
    padding: 5px;
}

.talGum {
    margin-top: -10px;
}






input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 70%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #052951;
    background: #00B9EA;
    border-radius: 1px;
    border: 0px solid #052951;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #052951;
    border: 1px solid #052951;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #E10E49;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00B9EA;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #00B9EA;
    background: #00B9EA;
    border-radius: 1px;
    border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #00B9EA;
    border: 1px solid #052951;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #00B9EA;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    background: #00B9EA;
    border-color: #00B9EA;
    color: #00B9EA;
}

input[type=range]::-ms-fill-lower {
    background: #00B9EA;
    border: 0px solid #00B9EA;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #00B9EA;
}

input[type=range]::-ms-fill-upper {
    background: #00B9EA;
    border: 0px solid #00B9EA;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #00B9EA;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #00B9EA;
    border: 1px solid #00B9EA;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #00B9EA;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #00B9EA;
}

input[type=range]:focus::-ms-fill-upper {
    background: #00B9EA;
}







/**** INFOGRAFIK  SLUT ****/

/**** SOME  START ****/

.box1some {
    width: 100%;
    padding: 3em 2em 1em 3em;
}

.box2some {
    width: 100%;
    padding: 0em 2em 1em 3em;

}

.box3some {
    width: 100%;
    padding: 0em 2em 1em 3em;
}

.tekstBox3some {
    padding: 5px;
}


.box2some p {

    width: 36vw;
    font-size: 0.7em;
    margin-top: -35px;
    margin-left: 68px;
}

/**** SOME  SLUT ****/

/**** TABLET MODE START ****/

@media screen and (min-width:768px) {

    .sideMenu {

        visibility: hidden;
    }

    .buttonContainer {
        visibility: visible;
        margin: 0 auto;
        margin-top: -78px;
        text-align: right;

    }

    .buttonContainer a {
        background-color: #F2F2F2;
        border: none;
        color: #052951;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        position: relative;
        z-index: 2;
        top: 5px;
        margin: 0 auto;
        cursor: pointer;
    }

    .buttonContainer a:hover {
        color: #00B9EA;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .tekstBox1 {
        width: 90%;
        height: 300px;
        margin: 140px auto;
        padding: 2em 1em 2em 1em;

    }

    .sliderContainer {

        width: 400px;
        padding-top: 100px;
        margin-left: 200px;
    }

    .value {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }

    .pris {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }

    .alder {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }



    /**** OFFLINE REKLAMER START ****/
    .box1Oflline {

        margin-top: 100px;
        width: 130%;
        margin: -30px auto 0 auto;
        height: 100%;
        padding-top: 92px;


    }

    .box2Oflline {

        width: 50%;
        margin: 90px auto 0 auto;
        height: 50%;

    }

    .box1 img {

        width: 100%;
        height: 300px;
        margin: 64px auto;
        padding: 2em 1em 2em 1em;
        border: none;

    }

    .box2 img {

        width: 100%;
        height: 300px;
        margin: 64px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }

    .tekstBox1Offline {

        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-left: 50%;

    }




    /**** OFFLINE REKLAMER SLUT ****/
    /**** YOUTUBEVIDEOER TABLET START ****/
    .container2 {

        display: grid;
        grid-template-columns: (2, 1fr);
        grid-gap: 5px;
    }

    .box1 iframe {

        width: 100%;
        height: 400px;
        margin: 64px auto 0 auto;
        padding: 2em 1em 2em 3em;
        border: none;
    }

    .box2 iframe {
        width: 100%;
        height: 400px;
        margin: -35px auto 0 auto;
        padding: 2em 1em 2em 1em;
        border: none;
        padding-top:
    }

    .box3 iframe {
        height: 400px;

    }

    .box3 {
        width: 45.5%;
        height: 400px;
        margin-top: -13%;
        padding-bottom: 20%;
        margin-left: 3%;


    }

    .box4 {
        width: 45.5%;
        height: 400px;
        margin-top: -44%;
        padding-bottom: 20%;
        margin-left: 51.5%;
        margin-top: -494px;


    }

    .box4 iframe {
        height: 400px;
    }


    /**** YOUTUBEVIDEOER TABLET SLUT ****/
    .tekstBox1 {

        position: relative;
        top: 400px;
        right: 50%;
        z-index: -5;
    }

    .box2 {

        position: relative;
        top: 189px;
        left: -1%;
        z-index: -5;

    }

    .tekstBox2 {

        position: relative;
        top: -176px;
        z-index: -5;
    }


    input[type=range] {
        height: 34px;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }

    /**** SOME TABLET START ****/
    .someContainer {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2px;
    }

    .box1some {
        padding: 3em 1em 1em 2em;
    }

    .box2some {
        margin-left: -70px;
        padding: 3em 1em 1em 2em;
    }

    .box3some {
        margin-left: -100px;
        padding: 3em 1em 1em 2em;
    }

    .tekstBox3some {
        padding: 5px;
        width: 50%;
        margin-left: 25%;

    }

    .box2some p {
        width: 17vw;
        margin-top: -35px;
        margin-left: 79px;
    }


    /**** SOME TABLET SLUT ****/
    .logoer {

        margin-left: 30vw;
    }


    .facebook {
        padding: 4px;
        padding-right: 60px;
        cursor: pointer;
        width: 9%;
    }

    .instagram {

        padding: 0 30px;
        cursor: pointer;
        width: 9%;
    }

    .youtube {
        padding-left: 60px;
        cursor: pointer;
        width: 9%;
    }

    .copyright {
        margin-left: 27%;
    }

    .copyright p {
        width: 50vw;
        padding: 0;
    }

    /**** FORSIDE TABLET START ****/
    #Solskin {
        right: -14%;
    }



    /**** FORSIDE TABLET START ****/
}




/**** TABLET MODE STOP ****/

/**** LAPTOP MODE START ****/

@media screen and (min-width:1024px) {

    .sideMenu {

        visibility: hidden;
    }

    .buttonContainer {
        visibility: visible;
        margin: 0 auto;
        margin-right: 0;
        margin-top: -87px;
        z-index: 100;
    }

    .navigation {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        z-index: 100;

    }

    nav a {
        background-color: #8a7f7f;
        border: none;
        color: #052951;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        cursor: pointer;
    }


    .buttonContainer a {
        background-color: #F2F2F2;
        border: none;
        color: #052951;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        position: relative;
        top: 5px;
        margin: 0 auto;
        cursor: pointer;
        z-index: 100;
    }

    .buttonContainer a:hover {
        color: #00B9EA;
    }


    .sliderContainer {

        width: 400px;
        padding-top: 100px;
        margin-left: 200px;
    }

    .value {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }

    .pris {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }

    .alder {
        color: red;
        position: relative;
        left: -351px;
        top: 3px;
        font-size: 2em;
    }


    /**** OFFLINE REKLAMER START ****/
    .box1Oflline {

        margin-top: 100px;
        width: 130%;
        margin: 39px auto 0 auto;
        height: 100%;
        padding-top: 2px;

    }

    .box2Oflline {

        width: 50%;
        margin: 90px auto 0 auto;
        height: 50%;

    }

    .box1 img {

        width: 100%;
        height: 300px;
        margin: 64px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }

    .box2 img {

        width: 100%;
        height: 300px;
        margin: 64px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }

    .tekstBox1Offline {

        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-left: 50%;

    }




    /**** OFFLINE REKLAMER SLUT ****/
    /**** YOUTUBEVIDEOER TABLET START ****/
    .box1 iframe {

        width: 100%;
        height: 400px;
        margin: 64px auto;
        padding: 2em 1em 2em 4em;
        border: none;
    }

    .box2 iframe {
        width: 100%;
        height: 400px;
        margin: -35px auto;
        padding: 2em 1em 2em 1em;
        border: none;
    }

    .box4 {
        margin-top: -565px;
    }

    /**** YOUTUBEVIDEOER DESKTOP SLUT ****/
    /**** SOME LAPTOP START ****/
    .box2some p {

        width: 12vw;
        margin-top: -35px;
        margin-left: 70px;

    }

    /**** SOME LAPTOP SLUT ****/
    .logoer {

        margin-left: 40vw;
    }


    .copyright {
        margin-left: 31%;
        margin-top: -13px;
    }

    .copyright p {
        width: 70%;
        padding: 2px;
        text-align: center;
        color: white;
        font-size: 0.8em;
    }


    .facebook {
        width: 8%;
    }
    .instagram {
        width: 8%;
    }
    .youtube {
        width: 8%;
    }

    #Solskin {
        right: -24%;
    }


}

/**** LAPTOP MODE SLUT ****/

@media screen and (min-width:1786px) {

    .buttonContainer {
        visibility: visible;
        margin: 0 auto;
        margin-right: 0;
        margin-top: -58px;
    }


}

/**** DESKTOP MODE START ****/
